    <script src="/js/toggleMenu.js"></script>
    <script src="/js/activeLink.js"></script>
    <script src="/js/displayUserPhoto.js"></script>
    <script src="/js/hideAndShowDropDown.js"></script>
</body>
</html>

