<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>please login <a href="/login">login</a></p>

    <p><a href="/voter-registration">vote here</a></p>
  </body>
</html>
